footer
  .row.container.width.widget
    .col-md-6.left
      .row
        .col-md-4
           h3 ประกันภัยรายบุคคล
           ul
              li 
                a(href="#") ประกันภัยการเดินทาง
              li 
                a(href="#") ประกันภัยรถยนต์
              li 
                a(href="#") ประกันภัยอุบัติเหตุ
              li 
                a(href="#") ประกันสุขภาพ
        .col-md-4
          h3 บริการลูกค้า
          ul
             li 
               a(href="#") แจ้งเคลม
             li 
               a(href="#") ค้นหาอู่รถยนต์ อู่ประกัน อู่ห้าง
             li 
               a(href="#") ค้นหาโรงพยาบาล หรือ คลินิก
             li 
               a(href="#") การประกันตัวผู้ขับขี่ (ร.ย.03)
        .col-md-4
          h3 รู้จักเรา
          ul
             li 
               a(href="#") กลุ่มแอกซ่า
             li 
               a(href="#") แอกซ่าประเทศไทย
             li 
               a(href="#") แอกซ่าบล็อค
             li 
               a(href="#") งบแสดงฐานะการเงินและผล
             li
               a(href="#") ดำเนินงาน
    .col-md-5.col-md-offset-1.right
      .col-md-6
         h3 ช่องทางโซเชียลมีเดีย
         ul
           li
             a(href="#")
               i(class="fa fa-facebook-square" aria-hidden="true")
           li
             a(href="#")
               i(class="fa fa-youtube" aria-hidden="true")
      .col-md-6
         img(src="images/axa-group-logo.png", alt="")
  .row.fixed-bottom#fixed-bottom
    .container.width.center
      .col-md-4
         a(href="")
           i(class="fa fa-newspaper-o" aria-hidden="true")
           p แจ้งเคลม
      .col-md-4
        a(href="")
          i(class="fa fa-weixin" aria-hidden="true")
          p แอคซ่าบล๊อก
      .col-md-4
        a(href="")
          i(class="fa fa-phone" aria-hidden="true")
          p ติดต่อเรา
  .row.copy
    .container.width
      .col-md-6.left
         p Copyright 2016 © AXA Thailand
      .col-md-6.right
         a(href="#")
           p ข้อกำหนด และนโยบายความเป็นส่วนตัว
