doctype html
html
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Thinkinofme
    link(rel='stylesheet', href='css/font-awesome.min.css', media='screen', title='no title', charset='utf-8')
    link(rel='stylesheet', href='libs/bootstrap/dist/css/bootstrap.css', media='screen', title='no title', charset='utf-8')
    link(rel='stylesheet', href='css/magnific-popup.css')
    link(rel='stylesheet', href='css/style.css', media='screen', title='no title', charset='utf-8')
    script(src='libs/jquery/dist/jquery.min.js')
    script(src='libs/bootstrap/dist/js/bootstrap.min.js')
    script(src='js/magnific-popup.js')
    script(src='js/app.js')
  body
    header
      .row.container.width
        .col-md-8.logo
          a(href="#")
            img(src='images/logo.svg', alt='')
          nav.navbar.navbar-default.menu-toggle
            // Brand and toggle get grouped for better mobile display
            div
              button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
        //
          <div class="col-md-4">
          <div class="row">
          <p>
          ยินดีต้อนรับ
          </p>
          </div>
          <div class="row">
          <div class="col-md-6">
          <i class="fa fa-phone" aria-hidden="true"></i> contact
          </div>
          <div class="col-md-6">
          ตัวแทน
          </div>
          </div>
          </div>
      hr
      .row
        .col-md-12.menu
          nav.navbar.navbar-default
            .container-fluid
              // Collect the nav links, forms, and other content for toggling
              #bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav
                  li
                    a(href='#') ประกันภัยรายบุคคล
                  li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                      ประกันภัยรายบริษัท 
                      span.caret
                    ul.dropdown-menu
                      li
                        a(href='#')
                          i.fa.fa-taxi(aria-hidden='true')
                          สมาร์ทแพลน เอสเอ็มอี
                      li
                        a(href='#')
                          i.fa.fa-bicycle(aria-hidden='true')
                          ประกันภัยสุขภาพรายกลุ่ม
                      li
                        a(href='#')
                          i.fa.fa-ship(aria-hidden='true')
                          ประกันภัยการขนส่งสินค้าทางทะเล
                      li
                        a(href='#')
                          i.fa.fa-shopping-basket(aria-hidden='true')
                          ประกันภัยสินเชื่อทางการค้า
                  li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='true')
                      ประกันภัยรายบริษัท
                      span.caret
                    ul.dropdown-menu
                      li
                        a(href='#')
                          i.fa.fa-taxi(aria-hidden='true')
                          ทดสอบ เอสเอ็มอี
                      li
                        a(href='#')
                          i.fa.fa-bicycle(aria-hidden='true')
                          ประกันภัยสุขภาพรายกลุ่ม
                      li
                        a(href='#')
                          i.fa.fa-ship(aria-hidden='true')
                          ประกันภัยการขนส่งสินค้าทางทะเล
                      li
                        a(href='#')
                          i.fa.fa-shopping-basket(aria-hidden='true')
                          ประกันภัยสินเชื่อทางการค้า                    
              // /.navbar-collapse
            // /.container-fluid
        //
          <div class="col-md-2">
          <i class="icon-doc-text"></i> เช็คราคา 
          </div>
          <div class="col-md-2">
          สอบถาม
          </div>
          </div>
