include header.jade

.contain-single.row 
  .cover(style="background-image: url('images/cover-single.jpg')", class="row")
    .width.container.right.text
        h1 คุ้มครองได้มากกว่า ด้วยค่าใช้จ่ายที่น้อยลง
        h2 ประกันรถยนต์ที่ให้คุณได้มากกว่าจากแอกซ่า
  
  .row
    .service.col-sm-offset-2.col-md-8.center
      h2 ประกันภัยรถยนต์
      h3 อุ่นใจได้ในทุกเส้นทางกับประกันภัยรถยนต์ที่ให้คุณได้มากกว่า เราดูแลเอาใจใส่คุณด้วยบริการแจ้งรับอุบัติเหตุรถยนต์ที่ช่วยเหลือคุณ ได้ตลอด 24 ชั่วโมง ไม่ว่าคุณจะอยู่ที่ไหน เรารับประกันเจ้าหน้าที่ของเราจะมาดูแลคุณภายใน 30 นาที ในพื่นที่ที่บริษัทแจ้งให้ทราบสิทธิพิเศษที่คุ้มกว่าจาก AXA ฟรี! บริการเติมน้ำมันถึง 20 ลิตรต่อปี ในกรณีน้ำมันหมดฉุกเฉิน 
        i เราจ่ายเต็ม 100% กรณีอุบัติเหตุรถยนต์ ล้อยาง แบตเตอรี่ (ไม่รวมระบบไฮบริดและอุปกรณ์) โดยไม่เสียค่าใช้จ่ายเพิ่มเติม ขึ้นอยู่กับแผนประกันที่เลือก
      ul
        li 
          a(href="#" class="btn btn-danger btn-wide") ซื้อเลย
        li 
          a(href="#" class="btn  btn-default  btn-wide") ต่ออายุ

  .blog.width.container.row
    .row
      .col-md-4
        a(href="#")   
          img(src="images/con-blog1.jpg", alt="")
          h1 มอเตอร์แอดออน
        p ค่าใช้จ่ายในการเดินทางที่เพิ่มขึ้นระหว่างรถซ่อม จะไม่ทำให้คุณปวดหัวอีกต่อไป
      .col-md-4
        a(href="#")   
          img(src="images/con-blog2.jpg", alt="")
          h1 มอเตอร์แอดออน
        p ค่าใช้จ่ายในการเดินทางที่เพิ่มขึ้นระหว่างรถซ่อม จะไม่ทำให้คุณปวดหัวอีกต่อไป
      .col-md-4
        a(href="#")   
          img(src="images/con-blog3.jpg", alt="")
          h1 มอเตอร์แอดออน
        p ค่าใช้จ่ายในการเดินทางที่เพิ่มขึ้นระหว่างรถซ่อม จะไม่ทำให้คุณปวดหัวอีกต่อไป
      
      .clearfix
    .row 
      .col-md-4
        a(href="#")   
          img(src="images/con-blog4.jpg", alt="")
          h1 มอเตอร์แอดออน
        p ค่าใช้จ่ายในการเดินทางที่เพิ่มขึ้นระหว่างรถซ่อม จะไม่ทำให้คุณปวดหัวอีกต่อไป
      .col-md-4
        a(href="#")   
          img(src="images/con-blog5.jpg", alt="")
          h1 มอเตอร์แอดออน
        p ค่าใช้จ่ายในการเดินทางที่เพิ่มขึ้นระหว่างรถซ่อม จะไม่ทำให้คุณปวดหัวอีกต่อไป
      .col-md-4
        a(href="#")   
          img(src="images/con-blog6.jpg", alt="")
          h1 มอเตอร์แอดออน
        p ค่าใช้จ่ายในการเดินทางที่เพิ่มขึ้นระหว่างรถซ่อม จะไม่ทำให้คุณปวดหัวอีกต่อไป
        
include footer.jade
